{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">FIFA</h1>

        <div class="alert alert-info mt-5 mb-5" role="alert">
            {% form_theme formDuel 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form(formDuel) }}
        </div>

        <div class="row">
            <div class="col-sm">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Players</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Nb. Matchs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ player.name }}</td>
                        <td>{{ player.rank }}</td>
                        <td>{{ player.duels|length }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Player A</th>
                        <th scope="col" class="text-right">Score A</th>
                        <th scope="col">Score B</th>
                        <th scope="col" class="text-right">Player B</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for duel in duels %}
                        <tr>
                            <th scope="row">{{ duel.playerA.name }} ({{ duel.rankA }})</th>
                            <td class="text-right">{{ duel.scoreA }}</td>
                            <td>{{ duel.scoreB }}</td>
                            <td class="text-right">{{ duel.playerB.name }} ({{ duel.rankB }})</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}